<div class="container-fluid">
  <p id="notice"><%= notice %></p>
  <div class="row blogs">
    <%= render "blogs/sidemenu" %>
    <div class="col" id="main">
      <%= will_paginate @blogs, list_classes: %w(pagination justify-content-end) %>
      <ul>
        <% @blogs.each do |blog| %>
          <li>
            <div class="card mb-2 mt-2">
              <div class="card-body">
                <h6 class="card-subtitle text-muted"><%= link_to blog.title, blog,class: "btn btn-outline-warning", remote: true %></h6>
                <h5 class="card-title"><%= blog.created_at %></h5>
                <p class="card-text"><%= truncate(blog.content, length:40, omission: '…') %></p>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
      <%= will_paginate @blogs, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
    </div>
  </div>
</div>


