<div class="container-fluid">
  <div class="row blogs">
    <%= render "blogs/sidemenu" %>
    <div class="col p-2" id="main">
      <%= will_paginate @blogs, list_classes: %w(pagination justify-content-center) %>
        <% @blogs.each do |blog| %>
          <div class="blog-index card mb-2 mt-2 btn btn-light text-left" ><%= link_to blog,remote: true do %>
            <div class="card-body">
              <h5 class="card-subtitle text-muted"><%= blog.title %></h5>
              <h6 class="card-title"><%= blog.created_at.strftime("%Y年%m月%d日 %H:%M:%S") %></h6>
              <p class="card-text"><%= truncate(blog.content, length:40, omission: '…') %></p>
            </div>
          <% end %>
          </div>
        <% end %>
      <%= will_paginate @blogs, list_classes: %w(pagination justify-content-center) %>
    </div>
    <div class="col-xs-12 col-lg-3 p-2">
      <%= month_calendar events: @new_blogs do |date, blogs| %>
        <%= date.day %>
        <% blogs.each do |blog| %>
          <div style="font-size:10px;">
            <%= link_to "UP!", blog, class: "btn btn-outline-warning p-1", remote: true, style: "font-size:10px;" %>
          </div>
        <% end %>
      <% end %>

      <div id="user_memo">
        <h3>Free Memo</h3>
        <% if @memo %>
          <%= form_tag(memo_path(@memo), method: :put,remote: true ) do %>
            <h5 class="text-info"><%= @memo.updated_at.strftime("%Y年%m月%d日 %H:%M:%S") %> 更新</h5>
            <div class="field m-2" >
              <textarea name="memo" class="form-control", rows="10"><%= @memo.content %></textarea>
            </div>
            <div class="actions m-2">
              <input type="submit" value="保存" class="btn btn-primary" id="memo-btn" data-disable-with="保存しています..." >
            </div>
          <% end %>
        <% else %>
          <%= form_tag(memos_path, method: :post,remote: true ) do %>
            <div class="field m-2" >
              <textarea name="memo" class="form-control", rows="10">新規</textarea>
            </div>
            <div class="actions m-2">
              <input type="submit" value="保存" class="btn btn-primary" id="memo-btn" data-disable-with="保存しています..." >
            </div>
          <% end %>
        <% end %>
        

      </div>
    </div>
  </div>
</div>


