<h1>User Edit</h1>

<div class="text-center">
<%= form_tag(user_path, method: :put , multipart: true) do %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this blog from being saved:</h2>
            <ul>
                <% @user.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="field mx-auto">
        <p>ユーザー名</p>
        <input name = "name" value="<%= @user.name %>" class="form-control col-sm-5 mx-auto" >
    </div>

    <div class="field mx-auto" >
        <p>メールアドレス</p>
        <input name = "email" value="<%= @user.email %>" class="form-control col-sm-5 mx-auto" >
    </div>

    <div class="field mx-auto" >
        <p>アイコン</p>
        <input name="image" type="file" class="mx-auto">
        <label class="btn btn-outline-primary">
            <input name="image" type="checkbox" value="reset" >Image Reset
        </label>
    </div>

    <div class="field mx-auto" >
        <p>パスワード</p>
        <input name = "password" value="<%= @user.password %>" class="form-control col-sm-5 mx-auto" >
    </div>

    <div class="actions m-2">
        <input type="submit" value="保存" class="btn btn-primary">
    </div>
<% end %>