<h1>User Edit</h1>

<%= form_tag(users_path) do %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this blog from being saved:</h2>
            <ul>
                <% @user.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="field ml-2 mr-2">
        <p>ユーザー名</p>
        <input name = "name" value="<%= @user.name %>" class="form-control col-sm-5" >
    </div>

    <div class="field m-2" >
        <p>メールアドレス</p>
        <input name = "email" value="<%= @user.email %>" class="form-control col-sm-5" >
    </div>

    <div class="field m-2" >
        <p>アイコン</p>
        <input name = "email" value="<%= @user.email %>" class="form-control col-sm-5" >
    </div>

    <div class="field m-2" >
        <p>パスワード</p>
        <input name = "password" value="<%= @user.password %>" class="form-control col-sm-5" >
    </div>

    <div class="actions m-2">
        <input type="submit" value="新規登録" class="btn btn-primary">
    </div>
<% end %>