<% if @user.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this blog from being saved:</h2>
        <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    </div>
<% end %>
<h1 class="text-center p-2">User Edit</h1>

<div class="user-show col bg-light py-4 mb-5 mx-auto text-center" style="width:500px; min-height:450px;">
<%= form_tag(user_path, method: :put , multipart: true) do %>

    <div class="field mx-auto">
        <p>ユーザー名</p>
        <input name = "name" value="<%= @user.name %>" class="form-control col-8 mx-auto" >
    </div>

    <div class="field mx-auto" >
        <p>メールアドレス</p>
        <input name = "email" value="<%= @user.email %>" class="form-control col-8 mx-auto" >
    </div>

    <div class="field mx-auto" >
        <p>アイコン</p>
        <input name="image" type="file" class="mx-auto">
        <label class="btn btn-outline-primary">
            <input name="image" type="checkbox" value="reset" >Image Reset
        </label>
    </div>

    <div class="field mx-auto" >
        <p>パスワード</p>
        <input name = "password"  class="form-control col-8 mx-auto" placeholder="6文字以上" >
    </div>

    <div class="field my-3" >
        <p>もう一度パスワード</p>
        <input name = "password2" class="mx-auto form-control col-8" placeholder="6文字以上">
    </div>

    <div class="actions m-2">
        <input type="submit" value="保存" class="btn btn-primary">
    </div>
<% end %>