<% if notice == "他のユーザーです" %>
    <p id="notice" class="col bg-danger text-center py-2"><%= notice %></p>
<% elsif notice %>
    <p id="notice" class="col bg-success text-center py-2"><%= notice %></p>
<% end %>
<div class="container-fluid p-3">
    <div class="row">
        <div class="col col-sx-6">
            <h3 class="text-center p-2">User Index</h3>
            <%= will_paginate @users, list_classes: %w(pagination justify-content-center) %>
            <% @users.each do |user| %>
                <%= link_to user, class: "users-index-item bg-light my-3" do %>
                    <div class="user-left">
                        <img src="<%= "/user_images/#{user.image_name}" %>" class="mr-3">
                    </div>
                    <div class="user-right">
                        <h6 class="mb-2"><%= user.name %></h6>
                    </div>
                <% end %>
            <% end %>
            <%= will_paginate @users, list_classes: %w(pagination justify-content-center) %>
        </div>
        
        <div class="bg-light col-sx-12 col-md-3">
            <h4>User Search</h4>
            <%= form_tag(users_path, :method => "get") do %>
                <h6>User Name: <%= text_field_tag :search %> </h6>
                <%= submit_tag "Search/all index" ,:name => nil ,class: "btn btn-info mr-0"%> 
            <% end %> 
        </div>
    </div>
</div>