<h3 class="text-center p-2">User Index</h3>
<div class="container-fluid">
    <p id="notice"><%= notice %></p>
    <div class="row">
        <div class="col cols-sx-6">
            <%= will_paginate @users, list_classes: %w(pagination justify-content-center) %>
            <% @users.each do |user| %>
                <%= link_to user, class: "users-index-item bg-light my-3" do %>
                    <div class="user-left">
                        <img src="<%= "/user_images/#{user.image_name}" %>" class="mr-3">
                    </div>
                    <div class="user-right">
                        <h6 class="mb-2"><%= user.name %></h6>
                    </div>
                <% end %>
            <% end %>
            <%= will_paginate @users, list_classes: %w(pagination justify-content-center) %>

        </div>
    </div>
</div>